requires = ["tox-uv"]
env_list = ["3.15.0a5", "3.14.3", "3.14.0", "3.13", "lint", "typecheck", "dependencycheck"]

[gh.python]
"3.15.0a5" = ["3.15.0a5"]
"3.14.3" = ["3.14.3"]
"3.14.2" = ["3.14.2"]
"3.14.1" = ["3.14.1"]
"3.14.0" = ["3.14.0"]
"3.13" = ["3.13"]

# This section ensures that the local package is built and installed
[env_run_base]
runner = "uv-venv-lock-runner"
package = "editable"
commands = [
    ["pytest", "--cov-report", "term-missing", "--cov=swopy"],
    ["pytest", "--doctest-modules", "swopy/"]
]


[env.lint]
description = "Run ruff for linting and formatting"
commands = [
    ["ruff", "check", "--fix", "."],
    ["ruff", "format", "."]
]

[env.typecheck]
description = "Run pyright type verification"
commands = [
    ["pyright", "--verifytypes", "swopy", "--ignoreexternal"]
]


[env.dependencycheck]
description = "Run dependency checks"
commands = [
    ["deptry", "."]
]