requires = ["tox-uv"]
env_list = ["3.15.0a5", "3.14.2", "3.13", "3.12", "lint", "typecheck", "dependencycheck"]

# This section ensures that the local package is built and installed
[env_run_base]
runner = "uv-venv-lock-runner"
package = "editable"
deps = [
    "pytest",
    "pytest-cov",
    "hypothesis",
]
commands = [
    ["pytest", "--cov-report", "term-missing", "--cov=numberology"],
    ["pytest", "--doctest-modules", "numberology/"]
]


[env.lint]
description = "Run ruff for linting and formatting"
deps = ["ruff"]
commands = [
    ["ruff", "check", "--fix", "."],
    ["ruff", "format", "."]
]

[env.typecheck]
description = "Run pyright type verification"
deps = ["pyright", "hypothesis"]
commands = [
    ["pyright", "--verifytypes", "numberology"]
]


[env.dependencycheck]
description = "Run dependency checks"
deps = ["deptry"]
commands = [
    ["deptry", "."]
]